@charset "utf-8";
/* CSS Document */
/*********************************************************

                        网页内容布局

*********************************************************/
img{
	max-width: 100%;
}
/*****************************************
                HEAD
******************************************/
/*将网页头部文字居中*/
#title{
	text-align: center;
}
#header{
	float:left;	
}
/*****************************************
                BODY
******************************************/


/*将body背景图铺满整个页面*/
html,body{
	height: 100%;
	width: 100%
}
#title{
	background-image: url("");
}
body{
	background-image:url("../img/1555604727437.jpg");
	background-size:cover;
	background-attachment: fixed;
	margin-top: -3%;
}
/*将body中的插图居中*/
#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}
/*将导航元素中的文本居中，改边距*/
nav{
	text-align: center;
	margin: 50px 0 80px;
}
nav li{
	display: inline-block;
	margin: 0 30px;
}
/*****************************************
                BOT
******************************************/
footer{
	text-align: center;
	font-size: 1em;
}


/************************************************************

                          网页内容修饰

*************************************************************/

/*****************************************
                颜色
******************************************/
/*将网页主标题设置为红色*/
h1{
	color: red;
}
/*鼠标滑过选项变成白色*/
nav a.option:hover{
	color: antiquewhite;
}
/*底部文字设置为银色*/
footer{
	color: silver;
	clear:both;
}
/*图片下面文字设置为黄色*/
#gallery li a p{
	font-size: 1.2em;
	color: yellow;
}
/*鼠标滑过图片底部文字变成暗红色*/
#gallery li a p:hover{
	color: darkred;
}
/*****************************************
                字体
******************************************/
/*给H1标题换字体调边距和字体大小*/
h1{
	font-family: 'Marck Script',cursive;
	margin: 40px 0;
	font-size: 50px;
	line-height: 80px;
	padding-top: 1.5%;
}
/*给H2标题换成楷体调边距和字体大小*/
h2{
	font-family: 'KaiTI',cursive;
	margin: 40px 0;
	font-size: 30px;
	border-bottom-style: dashed;
	border-color: silver;
}
/*给wrapper里的字体调成黑体*/
#wrapper{
	font-family: 'SimHei',cursive;
	font-size: 1.5em;
}
.option{
	font-weight: 800;
	padding: 0 20px;
}
/*修改图片下部文字的大小*/
#gallery li a p{
	font-size: 0.8em;
}
/*****************************************
                主页图片
******************************************/
/*去掉图片前面的原点*/
#gallery{
	list-style:none;
}
/*使图片展示形式为float型*/
#gallery li{
	float: left;
	width: 40%;
	margin: 5%;
}
/*去掉图片文字链接的下滑线*/
#gallery li a{
	text-decoration: none;
}
/*去掉三个选项的下滑线*/
nav li a{
	text-decoration: none;
	color:black;
}

